@import url("./components/button.css");
@import url("./components/card.css");
@import url("./components/footer.css");
@import url("./components/header.css");

body {
    margin: 0;

    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #3d3d3d;
}

main{
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    font-size: 1em;
    padding: 0%;
    max-width: 800px;
    margin: 0 auto;
}
.animar {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.mostrar {
    opacity: 1;
    transform: translateY(0);
}
.hero {
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}